<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>my tech journey</title>
    <style>
        body {
            background-color: rgb(228, 218, 218);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        p welcome {
            background-color: aqua;
            font-style: italic;
        }

        header img {
                    width: 30px;
                    height: 35px;
                    color: aquamarine;
        }
    </style>

</head>
<body>
    <header>
        <img src="../static/images/logo.png.jpg" alt="company logo">
    </header>
    <p class="welcome"> Welcome to our first page</p>
    <p> 
       <h1> TECH GURU</h1>
        my first day learning HTML 
    </p>

    <p> 
        <h2> TECH GURU</h2>
         my first day learning HTML 
     </p>

     <p> 
        <h3> TECH GURU</h3>
         my first day learning HTML 
     </p>

    <footer></footer>
</body>

</html>